@import "tailwindcss";

:root {
  --primary: 15 64% 41%;    /* #aa4725 */
  --secondary: 0 0% 6%;      /* مشکی مخملی */
  --background: 0 0% 100%;
  --foreground: 0 0% 10%;
  --border: 0 0% 85%;
  --radius: 6px;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  direction: rtl;
}
